@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-ZenDots: "Zen Dots", sans-serif;
  --font-signature: "Meow Script", "cursive";
}

/* styles/globals.css */
html {
  scroll-padding-top: 100px; /* Match your header height */
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
